version: "1.0"

mapper:
{
        midi: (
            {
                channel: 16
                controllerFrom: 16
                controllerTo: 23
                trackFrom: 1
                action: "TrackVolume"
            },
            {
                channel: 16
                controllerFrom: 24
                controllerTo: 31
                trackFrom: 1
                action: "TrackRecArm"
            },
            {
                channel: 16
                controllerFrom: 40
                controllerTo: 47
                trackFrom: 1
                action: "TrackMute"
            },
            {
                channel: 16
                controllerFrom: 48
                controllerTo: 55
                trackFrom: 1
                action: "TrackSolo"
            },
            {
                channel: 16
                controllerFrom: 8
                controllerTo: 15
                trackFrom: 1
                action: "TrackPan"
            }
        )

        osc: (
               {
                   action: "TrackVolume"
                   address: "/track/{track}/volume"
                   type: "normalized"
               },
               {
                   action: "TrackRecArm"
                   address: "/track/{track}/recarm/toggle"
                   type: "toggle"
               },
               {
                   action:  "TrackMute"
                   address: "/track/{track}/mute/toggle"
                   type: "toggle"
               },
               {
                   action: "TrackSolo"
                   address: "/track/{track}/solo/toggle"
                   type: "toggle"
               },
               {
                   action: "TrackPan"
                   address: "/track/{track}/pan"
                   type: "Normalized"
               },
        )
}

